---
layout: default
---

<div class="jumbotron">
    <p>3D geoinformation research group<br>Department of Urbanism<br>Faculty of Architecture and the Built Environment</p>
    <a href="http://www.tudelft.nl"><img src="{{ "/img/tudlogo.svg" | prepend: site.baseurl }}" width="250" alt=""></a>
</div>

<div class="container">
  <div class="row">
    <div class="well col-sm-4 col-md-4">
      <h2>Latest news <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i></a></h2>
      <ul class="posts">
        {% for post in site.posts %}
          <li><span>{{ post.date | date: "%b %d, %Y" }}</span> <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-8">
      {% for i in site.data.coverimages %}
      <div class="col-sm-12 col-md-6">
        {% if i.webpage %}
          <a href="{{ i.webpage }}"><img class="img-responsive" src="{{ "/img/cover/" | append: i.name | prepend: site.baseurl }}"/></a>
        {% else %}
          <img class="img-responsive" src="{{ "/img/cover/" | append: i.name | prepend: site.baseurl }}"/>
        {% endif %}
      </div>  
      {% endfor %}
    </div>
  </div>
</div>
