<hr>

<footer>
	<!-- <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i></a> -->
	<a href="https://twitter.com/tudelft3d"><i class="fa fa-twitter"></i></a> 
	<a href="https://github.com/tudelft3d"><i class="fa fa-github"></i></a>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/holder.js" | prepend: site.baseurl }}"></script>
