<hr>

<footer>
	<!-- <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i></a> -->
	<a href="https://twitter.com/tudelft3d"><i class="fa fa-twitter"></i></a> 
  <a href="https://github.com/tudelft3d"><i class="fa fa-github"></i></a>
	<a href="{{ "/about/#where" | prepend: site.baseurl }}"><i class="fa fa-map-marker"></i></a>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ "/assets/js/jquery-3.1.1.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/bootstrap.js" | prepend: site.baseurl }}"></script>
<!-- <script src="{{ "/assets/js/holder.js" | prepend: site.baseurl }}"></script> -->
<script src="{{ "/assets/js/jquery.eqheight.js" | prepend: site.baseurl }}"></script>
<script>
  $(document).ready(function() {
    $(".row").eqHeight(".column");
  });
</script>