<hr>

<footer>
	<!-- <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i></a> -->
	<a href="https://twitter.com/tudelft3d"><i class="fa fa-twitter"></i></a> 
  <a href="https://github.com/tudelft3d"><i class="fa fa-github"></i></a>
	<a href="{{ "/about/#where" | prepend: site.baseurl }}"><i class="fa fa-map-marker"></i></a>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ "/assets/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/bootstrap.js" | prepend: site.baseurl }}"></script>
<!-- <script src="{{ "/assets/js/holder.js" | prepend: site.baseurl }}"></script> -->
<script src="{{ "/assets/js/jquery.eqheight.js" | prepend: site.baseurl }}"></script>
<script>
  $(document).ready(function() {
    $(".row").eqHeight(".column");
    $("#filter").keyup(function(){
      // Retrieve the input field text and reset the count to zero
      var filter = $(this).val();
      $(".filteredgroup").each(function(){
        var count = 0;
        $(this).find(".filteredelement").each(function(){
          if ($(this).text().search(new RegExp(filter, "i")) < 0) {
            $(this).fadeOut();
          } else {
            $(this).fadeIn();
            count++;
          }
        });
        if (count > 0) {
          // $(this).find("#filteredcount").text(" (" + count + ")")
          $(this).fadeIn();
        } else {
          $(this).fadeOut();
        }
      });
    });
  });
</script>