<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">3D geoinformation</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">about</a></li>
        <li><a href="/pubs">publications</a></li>
        <li><a href="/code">code</a></li>
        <li><a href="/projects">projects</a></li>
        <li><a href="/education">education</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
