{% assign activities = site.data.umnd.activities | sort: 'date' | reverse %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Latest activities</h4>
    </div>
    <div class="panel-body">
        <ul class="posts">
        {% for activity in activities limit:5 %}
            <li class="activity"><span>{{ activity.date | date_to_string }}</span> Research Line
            {% for rl in activity.research_line %}
            <a href="{{ "/projects/umnd/rl" | append: rl | append: ".html" | prepend: site.baseurl }}">{{ rl }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}: {{ activity.description }}</li>
        {% endfor %}
        </ul>
    </div>
</div>
