<div id="sidebar" class="umnd-sidebar alert" style="background-color:rgb(236,240,241);margin-top:0px">
    <h3 style="margin-top:0px;padding-top:0px;padding-bottom:2px">Research Lines</h3>
    <ul class="nav nav-stacked">
        <li><a href="/projects/umnd/rl1.html">Generalisation of 3D City Models</a></li>
        <li><a href="/projects/umnd/rl2.html">Construction of 4D City Models</a></li>
        <li><a href="/projects/umnd/rl3.html">Extraction of 3D City Objects from 4D</a></li>
    </ul>
</div>