---
layout: null
---

<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="3D geoinformation research group at TU Delft">
  <meta name="keywords" content="3D GIS, GIS, 3D geoinformation, TU Delft, CityGML">

  <title>Point cloud processing seminar 2018</title>


  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/css/syntax.css" rel="stylesheet">
  <link href="../../assets/css/mine.css" rel="stylesheet">
  <link href="../../assets/css/pcp2018.css" rel="stylesheet">
  <link href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" rel="stylesheet" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


</head>


  <body>

    <!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">PCP2018</a>
    </div>
    <div class="navbar-collapse collapse navbar-right" id="navbar">
      <ul class="nav navbar-nav">
        <li>
          <a href="#id-program">Programme</a>
        </li>
        <li>
          <a href="#id-registration">Registration</a>
        </li>
        <li>
          <a href="#id-practical">Location</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="jumbotron">
  <video id="video-background" preload muted autoplay>
      <source src="/projects/3dsm/img/ze.mp4" type="video/mp4">
  </video>
  <div class="container">
      <h1 class="text-right">Point Cloud Processing 2018</h1>
      <p class="text-right"><small>March 13th, 2018 &#xb7; Delft, the Netherlands</small></p>
  </div>
</div>
  
<div class="container">
	<div class="row">

	<div class="col-md-9" style="margin-bottom:50px;">

		<p>Point Cloud Processing 2018 is a 1-day seminar on the latest developments in point cloud processing. 
It was held on 13 March 2018 at the Delft University of Technology organised by the NWO-funded project <a href="https://www.3d4em.nl">3D for environmental modelling (3D4EM)</a>.
</p>    
	    
<p>PCP2018 was a joint event with the <a href="https://www.nwo.nl/over-nwo/organisatie/nwo-onderdelen/ttw">NWO</a> funded project <a href="https://3d.bk.tudelft.nl/projects/3dsm/">3DSM</a>, <a href="https://erc.europa.eu/">ERC</a>, the <a href="http://volta.fbk.eu">VOLTA project</a>, <a href="http://www.eurosdr.net">EuroSDR</a> and <a href="https://www.geonovum.nl">Geonovum</a> and is organised by Ravi Peters, Jantien Stoter and Hugo Ledoux of the <a href="https://3d.bk.tudelft.nl">3D geoinformation group</a> at TU Delft.</p>
</p>
		
    <p>The objective of this seminar is share knowledge about exciting developments in point cloud processing.
    Topics of interest are:</p>
    <ul>
      <li>acquisition &amp; visualisation</li>
      <li>data structures &amp; management, </li>
      <li>segmentation &amp; classification, </li>
      <li>object detection &amp; reconstruction, </li>
      <li>applications &amp; use-cases from practice.</li>
    </ul>

    <h2 id="id-program">Programme + presentation slides</h2>
    <table class="table table-responsive">
      <!-- <thead>
        <tr>
          <th>Time</th>
          <th>Activity</th>
          <th>Speaker and topic</th>
        </tr>
      </thead> -->
      <tbody>
      {% for item in site.data.pcp2018.program %}
        {% if item.activity != "presentations" %}
        <tr>
          <td>{{item.start}}</td>
          <td colspan="2">{{item.activity}}</td>
        </tr>
        {% else %}
        <tr>
          <td rowspan="{{item.n}}">{{item.start}}</td>
          {% for theme in item.themes %}
          <td rowspan="{{theme.speakers.size}}" class="pcp-theme {{theme.title | downcase | replace: ' ', '-'}}"><b>{{theme.title}}</b></td>
            {% for speaker in theme.speakers %}
              {% if forloop.index > 1 %}
        <tr>
              {% endif %}
          <td class='tb-speaker {{theme.title | downcase | replace: ' ', '-'}}'>
            {% if speaker.pdf %}
            <a href="{{speaker.pdf}}">{{speaker.topic}}</a>
            {% else %}
            {{speaker.topic}}
            {% endif %}
            <br/><i>{{speaker.name}}, {{speaker.organisation}}</i></td>
        </tr>
            {% endfor %}
          {% endfor %}
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
    
    <h2 id="id-registration">Registration</h2>
    <p>The registration form has been closed because we have reached the full capacity of our location.</p>

    <h2 id="id-practical">Location</h2>

    The event will be hosted in the <b>Berlage zalen</b> of the <a href="https://www.tudelft.nl/en/about-tu-delft/contact-and-accessibility/map-and-buildings/building-8/">Faculty of Architecture and the Built Environment</a>. The Berlage zalen are located <a href="https://www.tudelft.nl/en/architecture-and-the-built-environment/about-the-faculty/the-building/floor-plan/">just behind the west entrance</a>.

    <h3>Hotels</h3>
    <p>Following is a list with hotels in Delft. Most of them are situated in the old city centre, which is only a 10-15 minutes walk from the event location</p>

    <ul>
    <li><a href="http://www.leeuwenbrug.nl/?lang=en">Hotel Leeuwenbrug</a></li>
    <li><a href="http://www.hoteldelftcentre.nl/?lang=en">Hampshire Hotel</a></li>
    <li><a href="http://www.museumhotels.nl/index.asp?taal=en">Best Western</a></li>
    <li><a href="http://www.hoteljuliana.nl/index.php?option=com_content&view=article&id=52&Itemid=69">Hotel Juliana</a></li>
    <li><a href="http://www.westcordhoteldelft.com/">WestCord Hotel</a></li>
    <li><a href="http://www.hoteldeplataan.nl/eng/">Hotel De Plataan</a></li>
    <li><a href="http://emauspoort.nl/en/">Emauspoort</a></li>
    </ul>

    <h2>Further information</h2>
    <p>Please contact <a href="mailto:r.y.peters@tudelft.nl">Ravi Peters</a> if you have any further questions.</p>

      <!-- <br /><br />
      <img class="image img-responsive" src="../../img/events/udmv2015/Delft-Hall.jpg" /><br /> -->

	</div>
  <div class="col-md-3">
    <a class="sponsor-logo" href="http://www.stw.nl"><img class="image img-responsive" src="../../img/partners/nwo.png" /></a>
    <a class="sponsor-logo" href="https://erc.europa.eu/"><img class="image img-responsive" src="../../img/partners/erc.png" /></a>
    <a class="sponsor-logo" href="http://www.eurosdr.net"><img class="image img-responsive" src="../../img/events/pcp2018/eurosdr_negative_web.jpg" /></a>
    <a class="sponsor-logo" href="http://volta.fbk.eu"><img class="image img-responsive" src="../../img/events/pcp2018/VOLTAlogo.jpg" /></a>
    <a class="sponsor-logo" href="https://www.geonovum.nl"><img class="image img-responsive" src="../../img/events/pcp2018/geonovum.png" /></a>
    <a class="sponsor-logo" href="https://3d.bk.tudelft.nl"><img class="img-responsive" src="../../img/logos/tud-3dgeoinfo-black.png" /></a>  
  </div>
</div>
</div>


    <!-- <hr> -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script src="/assets/js/holder.js"></script>
<script src="/assets/js/jquery.eqheight.js"></script>
<script>
  $(document).ready(function() {
    $(".row").eqHeight(".column");
  });
</script>

  </body>

</html>
