/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  color: #4f7de6;
}

a:hover,
a:focus {
  color: #30bfeb;
  text-decoration: none;
}

#frontimggrid img {
  object-fit: contain;
  height: 345px;
}

.jumbotron {
  text-align: center;
  background-color: #2c3e50
}

h1 {
  padding-top: 25px;
  padding-bottom: 20px;
}

h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 40%;
}

.navbar-brand {
  margin-top: 0px;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-header > a:hover,
.navbar-default .navbar-header > a:focus {
  color: #30bfeb;
}

.tud {
  max-height: 35px;
  margin-top: -10px;
}

.logo {
  max-height: 45px;
  margin-top: -7px;
}

.centred {
    margin: 0 auto;
}

ul.posts {
  padding-left: 0;
}

/* The blog posts archive, a long list */
/*.posts {
   list-style-type: none;
   margin-bottom: 2em;
}*/

.firstpost span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 75%;
  margin-right: 1em;
}

.posts li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
  margin-right: 1em;
}

#map {
  height: 400px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.soft-edges {
  -webkit-box-shadow: inset 0 0 10px 25px white;
  -moz-box-shadow: inset 0 0 10px 25px white;
  box-shadow: inset 0 0 10px 25px white;
}

.soft-edges img {
/*  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;*/
  position: relative;
  z-index: -10;
  display: block;
}

footer {
  text-align: center;
  font-size: 1.5em;
}

.thumbnail {
  border: none;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

.alert-blue,
.alert-blue > a {
  color: white;
  background-color: #4f7de6;
  border-color: #4f7de6;
}

.alert-blue > a:hover,
.alert-blue > a:focus {
  color: #ace5ee;
}

.papers-sidebar {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* all links */
.papers-sidebar .nav>li>a {
  color: #2c3e50;
  border-left: 2px solid transparent;
  padding: 4px 20px;
  /*font-size: 18px;*/
}

/* nested links */
/*.papers-sidebar .nav .nav>li>a {
  color: #999;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 16px;
}*/

/* active & hover links */
.papers-sidebar .nav>.active>a, 
.papers-sidebar .nav>li>a:hover, 
.papers-sidebar .nav>li>a:focus {
  color: #4f7de6;
  /*font-weight: bold;*/
  text-decoration: none;
  background-color: transparent;
  border-left-color: #30bfeb;
}

/* nested active links */
/*.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
  color: #000;
}*/