/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
  text-align: center;
}

h1 {
  padding-top: 25px;
  padding-bottom: 20px;
}

/* The blog posts archive, a long list */
/*.posts {
   list-style-type: none;
   margin-bottom: 2em;
}*/

.posts li {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   line-height: 2em;
}

.posts span {
   color: #aaa;
   font-family: Monaco, "Courier New", monospace;
   font-size: 75%;
   margin-right: 1em;
}

#map {
  height: 400px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
