<!DOCTYPE html>
<html>
  {% include head.html %}
  {% if page.scrollspy %}
  <body data-spy="scroll" data-target="#{{ page.scrollspy }}">
  {% else %}
  <body>
  {% endif %}
  {% include header.html %}

  
  <div class="container content">
    <nav aria-label="breadcrumb" style="margin-top:30px">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/projects/umnd/">UMnD</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
        </ol>
      </nav>

      <div class="row">
        <div class="col-md-9">
            <h1>{{ page.subtitle }}</h1>
            {{ content }}
          </div>
          <div class="col-md-3">
            {% include umnd/menu.html %}
          </div>
      </div>

    {% include footer.html %}
  </body>
</html>
