<!DOCTYPE html>
<html>

  {% include head_3dgi18.html %}

  <body>

  {% include header_3dgi18.html %}
  <div class="jumbotron" style="background-image: url(img/mesh.png); background-size: 100%; background-repeat: no-repeat; background-position: center bottom;">
	  <div class="container">
	    <div class="row">
	      <div class="col-lg-4 col-md-6 col-sm-8">
	      	<img src="img/logo.png" />
	      	<div style="height: 10vw;"></div>
	      </div>
	    </div>
	  </div>
	</div>
    <div class="container">
      <div class="row">
        <div class="col-md-2 hidden-sm hidden-xs">
				  <a href="https://3d.bk.tudelft.nl"><img class="img-responsive" src="../../img/logos/tud-3dgeoinfo-black.png" /></a><br />
				  <br />
				  <a href="https://www.utwente.nl"><img class="img-responsive" src="img/utwente.png" /></a><br />
				  <br />
			  </div>
        <div class="col-md-7 col-sm-8">
          {{ content }}
        </div>
        <div class="col-md-3 col-sm-4">
			    <div class="alert alert-info">
			      <h4>Important dates</h4>
			      <br />

			      <b>May 1, 2018</b><br />
			      <ul>Full paper submission</ul><br />

			      <b>May 30, 2018</b><br />
			      <ul>Abstract submission</ul><br />

			      <b>June 15, 2018</b><br />
			      <ul>Author notification</ul><br />

			      <b>July 15, 2018</b><br />
			      <ul>Final version of full papers</ul><br />

			      <b>October 1-2, 2018</b><br />
			      <ul>Conference</ul><br />
			    </div>
			    <div class="visible-xs-block visible-sm-block">
	          <div class="col-sm-12 col-sm-offset-0 col-xs-4 col-xs-offset-4"><a href="https://3d.bk.tudelft.nl"><img class="img-responsive" src="../../img/logos/tud-3dgeoinfo-black.png" /></a><br /></div>
	        </div>
			  </div>
      </div>
    </div>
  {% include footer_3dgi18.html %}
  </body>
</html>