<!DOCTYPE html>
<html>
  {% include head.html %}
  {% if page.scrollspy %}
  <body data-spy="scroll" data-target="#{{ page.scrollspy }}">
  {% else %}
  <body>
  {% endif %}
  {% include headereunetbp.html %}
  <div class="container content">
		<br />
	  <div class="row">
	    <div class="col-md-2 hidden-sm hidden-xs">
			  <a href="https://3d.bk.tudelft.nl/projects/eunet_bp/"><img class="img-responsive" src="img/EUNET4DBP_logo.png" /></a><br />
			  <br />
			  <a href="https://3d.bk.tudelft.nl"><img class="img-responsive" src="img/logos/tud-3dgeoinfo-black.png" /></a><br />
			  <br />
			  <a href="https://www.fraunhofer.it"><img class="img-responsive" src="img/logos/logoFHI.jpg" /></a><br />
			  <br />
			  <a href="https://www.lunduniversity.lu.se"><img class="img-responsive" src="img/logos/lund-logo.jpg" /></a><br />
			  <br />
			  <a href="https://en.unibs.it/departments/civil-environmental-architectural-engineering-and-mathematics"><img class="img-responsive" src="img/logos/logoUNIBS.png" /></a><br />
			  <br />
	          <a href="https://www.ucl.ac.uk"><img class="img-responsive" src="img/logos/UCL-logo.png" /></a><br />
	          <br />
			  <a href="http://www.en.fgg.uni-lj.si/"><img class="img-responsive" src="img/logos/logoUniLjubljana.png" /></a><br />
			  <br />
			  <a href="https://www.ordnancesurvey.co.uk"><img class="img-responsive" src="img/logos/os-logo.jpg" /></a><br />
			  <br />
			  <a href="https://www.swisstopo.admin.ch/en/home.html"><img class="img-responsive" src="img/logos/swisstopo-logo.png" /></a><br />
			  <br />
			  <a href="http://www.kadaster.nl"><img class="img-responsive" src="img/logos/kadaster-logo.png" /></a><br />
			  <br />
			  <a href="https://www.icgc.cat/en/"><img class="img-responsive" src="img/logos/icgc-logo.png" /></a><br />
			  <br />
			  <a href="https://mkm.ee/en/objectives-activities/construction-and-housing-sector"><img class="img-responsive" src="img/logos/EstoniaMinistryEAC-logo.png" /></a><br />
			  <br />
			  <a href="http://www.ign.fr"><img class="img-responsive" src="img/logos/ign-logo.jpg" /></a><br />
			  <br />
			  <a href="http://www.cstb.fr/en/"><img class="img-responsive" src="img/logos/CSTB-logo.jpg" /></a><br />
			  <br />
			  <a href="https://www.lantmateriet.se"><img class="img-responsive" src="img/logos/landmateriet-logo.png" /></a><br />
			  <br />
			  <a href="https://www.maanmittauslaitos.fi/en"><img class="img-responsive" src="img/logos/nls-logo.png" /></a><br />
			  <br />
			  <a href="https://www.kartverket.no"><img class="img-responsive" src="img/logos/kartverket-logo.png" /></a><br />
	          <br />
	          <a href="https://www.hcu-hamburg.de"><img class="img-responsive" src="img/logos/HCU_Logo.png" /></a><br />
	          <br />
	          <a href="www.icom.uni-hannover.de"><img class="img-responsive" src="img/logos/IBMDB_Logo_EN.png" /></a><br />
	          <br />
	          <img class="img-responsive" src="img/logos/cogital-logo.jpg" /></a><br />
	          <br />
	          <a href="https://www.bbri.be/homepage/index.cfm"><img class="img-responsive" src="img/logos/BBRI-Logo-RGB.png" /></a><br />
	          <br />
	          <a href="http://www.global.itu.edu.tr"><img class="img-responsive" src="img/logos/ITU_LOGO.jpg" /></a><br />
	           <br />
	          <img class="img-responsive" src="img/logos/AEC3.jpg" /></a><br />
	          <br />
	          <b>Associations and entities supporting the network</b><br />
	          <br />
	          <a href="http://www.eurosdr.net"><img class="img-responsive" src="img/logos/eurosdr.jpg" /></a><br />
			  <br />
		  </div>
		  
	    
	    <div class="col-md-7 col-sm-8">
	      {{ content }}
	    </div>
	    
	    
	    <div class="col-md-3 col-sm-4">
		    <div class="alert alert-info">
		   <!--   <h4>Important dates and next steps</h4>
		      <br />

		      <b>March 2019</b><br />
		      <ul>
		      	<li>Complete materials available</li>
		      	<li>Start of declaration of interest from participants</li>
		      </ul><br />

		      <b>July 8th, 2019</b><br />
		      <ul>
		      	<li>GeoBIM benchmark meeting with participants and proponents</li>
		      </ul><br />

		      <b>October 31st, 2019</b><br />
		      <ul>
		      	<li>Deadline for data processing and benchmark answer submission</li>
		      </ul><br />

		      <b>December 2nd-3rd, 2019</b><br />
		      <ul>
		      	<li><a style="color: white;" href="https://3d.bk.tudelft.nl/projects/geobim-benchmark/events.html">EuroSDR-AMS GeoBIM benchmark workshop</a></li>
		      </ul><br />

		    </div> -->
		    
		    <div class="alert alert-info">
		    	<h4>Team</h4>
		    	<a style="color: white;" href="http://www.noardo.eu">Francesca Noardo</a><br />
		    	<a style="color: white;" href="https://3d.bk.tudelft.nl/jstoter/">Jantien Stoter</a><br />
		    	<a style="color: white;" href="https://3d.bk.tudelft.nl/projects/eunet_bp/">Giada Malacarne</a><br />
		    	<a style="color: white;" href="https://3d.bk.tudelft.nl/projects/eunet_bp/">Angelo Ciribini</a><br />
		    	<a style="color: white;" href="https://3d.bk.tudelft.nl/projects/eunet_bp/">Lavinia Tagliabue</a><br />
		    	<a style="color: white;" href="https://3d.bk.tudelft.nl/projects/eunet_bp/">Silvia Mastrolembo Ventura</a><br />
		    	<a style="color: white;" href="https://www.ucl.ac.uk/civil-environmental-geomatic-engineering/people/dr-claire-ellul">Claire Ellul</a><br />
		    	<a style="color: white;" href="https://www.nateko.lu.se/lars-harrie">Lars Harrie</a><br />
		    	<a style="color: white;" href="https://3d.bk.tudelft.nl/projects/eunet_bp/">Alain Waha</a><br />
		    	<a style="color: white;" href="https://3d.bk.tudelft.nl/projects/eunet_bp/">Emilya Popova</a><br />
		    	<a style="color: white;" href="https://3d.bk.tudelft.nl/projects/eunet_bp/">Daniel Mondino</a><br />
		    	<a style="color: white;" href="https://3d.bk.tudelft.nl/projects/eunet_bp/">Jaan Saar</a><br />
		    	<a style="color: white;" href="https://3d.bk.tudelft.nl/projects/eunet_bp/">Ilektra Papadaki</a><br />
		    	<a style="color: white;" href="https://3d.bk.tudelft.nl/projects/eunet_bp/">Tobias Kellenberger</a><br />
		    	<a style="color: white;" href="https://3d.bk.tudelft.nl/projects/eunet_bp/">Hasim Tezerdi</a><br />
		    	<a style="color: white;" href="https://3d.bk.tudelft.nl/projects/eunet_bp/">Fabian Stahl</a><br />
		    	<a style="color: white;" href="https://3d.bk.tudelft.nl/projects/eunet_bp/">Anka Lisec</a><br />
		    	<a style="color: white;" href="https://3d.bk.tudelft.nl/projects/eunet_bp/">Souheil Soubra</a><br />
		    	<a style="color: white;" href="https://3d.bk.tudelft.nl/projects/eunet_bp/">Rollo Home</a><br />
		    	<a style="color: white;" href="https://3d.bk.tudelft.nl/projects/eunet_bp/">Nancy Niemann</a><br />
		    	<a style="color: white;" href="https://3d.bk.tudelft.nl/projects/eunet_bp/">Milena Feustel</a><br />
		    	<a style="color: white;" href="https://www.icgc.cat/en/">Maria Pla</a><br />
                <a style="color: white;" href="https://www.icgc.cat/en/">Santi Sánchez</a><br />
		    	<a style="color: white;" href="https://3d.bk.tudelft.nl/projects/eunet_bp/">Joonas Jokela</a><br />
		    	<a style="color: white;" href="https://3d.bk.tudelft.nl/projects/eunet_bp/">Ivar Overland</a><br />
		    	<a style="color: white;" href="https://3d.bk.tudelft.nl/projects/eunet_bp/">Benedicte Bucher</a><br />
		    	<a style="color: white;" href="https://3d.bk.tudelft.nl/projects/eunet_bp/">Perola Olsson</a><br />
		    	<a style="color: white;" href="https://3d.bk.tudelft.nl/projects/eunet_bp/">Emmanuel Devys</a><br />
		    	<a style="color: white;" href="https://3d.bk.tudelft.nl/projects/eunet_bp/">Jekaterina Masjaguto</a><br />
		    	<a style="color: white;" href="www.icom.uni-hannover.de">Lennart Sengerto</a><br />
		    	<a style="color: white;" href="https://www.bbri.be/homepage/index.cfm">François  Robberts</a><br />
		    	<a style="color: white;" href="https://3d.bk.tudelft.nl/projects/eunet_bp/">Stepanka Tomanova</a><br />
		    	<a style="color: white;" href="linkedin.com/in/antero-hirvensalo-87862026">Antero Hirvensalo</a><br />
		    	<a style="color: white;" href="https://3d.bk.tudelft.nl/projects/eunet_bp/">Nicholas Nisbet</a><br />
		    </div>


		<div class="visible-xs-block visible-sm-block">
<div class="col-sm-12 col-xs-4"><a href="https://3d.bk.tudelft.nl"><img class="img-responsive" src="img/logos/tud-3dgeoinfo-black.png" /></a></div>
			  <div class="col-sm-12 col-xs-4"><a href="https://www.fraunhofer.it"><img class="img-responsive" src="img/logos/logoFHI.jpg" /></a></div>
			  <div class="col-sm-12 col-xs-4"><a href="https://en.unibs.it/departments/civil-environmental-architectural-engineering-and-mathematics"><img class="img-responsive" src="img/logos/logoUNIBS.png" /></a><br />
			  </div>
			  <div class="col-sm-12 col-xs-4"><a href="https://www.lunduniversity.lu.se"><img class="img-responsive" src="img/logos/lund-logo.jpg" /></a></div>
	          <div class="col-sm-12 col-xs-4"><a href="https://www.ucl.ac.uk"><img class="img-responsive" src="img/logos/UCL-logo.png" /></a></div>
			  <div class="col-sm-12 col-xs-4"><a href="http://www.en.fgg.uni-lj.si/"><img class="img-responsive" src="img/logos/logoUniLjubljana.png" /></a></div>
			  <div class="col-sm-12 col-xs-4"><a href="https://www.ordnancesurvey.co.uk"><img class="img-responsive" src="img/logos/os-logo.jpg" /></a></div>
			  <div class="col-sm-12 col-xs-4"><a href="https://www.swisstopo.admin.ch/en/home.html"><img class="img-responsive" src="img/logos/swisstopo-logo.png" /></a></div>
			  <div class="col-sm-12 col-xs-4"><a href="http://www.kadaster.nl"><img class="img-responsive" src="img/logos/kadaster-logo.png" /></a></div>
			  <div class="col-sm-12 col-xs-4"><a href="https://www.icgc.cat/en/"><img class="img-responsive" src="img/logos/icgc-logo.png" /></a></div>
			  <div class="col-sm-12 col-xs-4"><a href="https://mkm.ee/en/objectives-activities/construction-and-housing-sector"><img class="img-responsive" src="img/logos/EstoniaMinistryEAC-logo.png" /></a></div>
			  <div class="col-sm-12 col-xs-4"><a href="http://www.ign.fr"><img class="img-responsive" src="img/logos/ign-logo.jpg" /></a></div>
			  <div class="col-sm-12 col-xs-4"><a href="http://www.cstb.fr/en/"><img class="img-responsive" src="img/logos/CSTB-logo.jpg" /></a></div>
			  <div class="col-sm-12 col-xs-4"><a href="https://www.lantmateriet.se"><img class="img-responsive" src="img/logos/landmateriet-logo.png" /></a></div>
			  <div class="col-sm-12 col-xs-4"><a href="https://www.maanmittauslaitos.fi/en"><img class="img-responsive" src="img/logos/nls-logo.png" /></a></div>
			  <div class="col-sm-12 col-xs-4"><a href="https://www.kartverket.no"><img class="img-responsive" src="img/logos/kartverket-logo.png" /></a></div>
			  <div class="col-sm-12 col-xs-4"><a href="https://www.hcu-hamburg.de"><img class="img-responsive" src="img/logos/HCU_Logo.png" /></a></div>
			  <div class="col-sm-12 col-xs-4"><img class="img-responsive" src="img/logos/cogital-logo.jpg" /></a></div>
			  <div class="col-sm-12 col-xs-4"><a href="www.icom.uni-hannover.de"><img class="img-responsive" src="img/logos/IBMDB_Logo_EN.png" /></a></div>
			  <div class="col-sm-12 col-xs-4"><a href="https://www.bbri.be/homepage/index.cfm"><img class="img-responsive" src="img/logos/BBRI-Logo-RGB.png" /></a></div>
			  <div class="col-sm-12 col-xs-4"><a href="http://www.global.itu.edu.tr"><img class="img-responsive" src="img/logos/ITU_LOGO.jpg" /></a></div>
			  <div class="col-sm-12 col-xs-4"><img class="img-responsive" src="img/logos/AEC3.jpg" /></a></div>
			  <div class="col-sm-12 col-xs-4"><a href="http://www.eurosdr.net"><img class="img-responsive" src="img/logos/eurosdr.jpg" /></a></div>
	      </div>
		  </div>
	  </div>
	</div>
  {% include footereunetbp.html %}
  </body>
</html>
