<!DOCTYPE html>
<html>
  {% include head.html %}
  {% if page.scrollspy %}
  <body data-spy="scroll" data-target="#{{ page.scrollspy }}">
  {% else %}
  <body>
  {% endif %}
  {% include header.html %}

    {% include umnd/banner.html %}
    
    <div class="container">
        <div class="row">
          <div class="col-md-2 hidden-sm hidden-xs">
            <a href="https://erc.europa.eu"><img class="img-responsive" src="{{ "/img/partners/erc.png" | prepend: site.baseurl }}"/></a>
            <br />
            <a href="http://www.ams-institute.org"><img class="img-responsive" src="{{ "/img/partners/ams.png" | prepend: site.baseurl }}"/></a>
            <br />
          </div>
          <div class="col-md-7">            
            {{ content }}
          </div>
          <div class="col-md-3">
            {% include umnd/menu.html %}
          </div>
      </div>

    {% include footer.html %}
  </body>
</html>
