---
layout: default
---
<div class="container content">

{% for i in site.data.staff %}
  {% if i.surname == page.surname %}
    {% assign staff = i %}
  {% endif %}   
{% endfor %}
 
  <h1>{{ staff.name }} {{ staff.van }} {{ staff.surname }}</h1>
  
  <div class="row">
    <div class="col-md-3">
      <img class="img-circle img-responsive" src="{{ "/img/staff/" | append: staff.photo | prepend: site.baseurl }}">
    </div>
    <div class="col-md-5">
    {% if staff.longtitle %}
      <h3>{{ staff.longtitle }}</h3>
    {% else %}
      <h3>{{ staff.title }}</h3>
    {% endif %}  
    {% if staff.description %}
      <p>{{ staff.description | markdownify }}</p>
    {% endif %}  
    <br>
    </div>
    <div class="col-md-4">
    <div class="well well-sm">
      {% if staff.email %}
        <i class="fas fa-envelope"></i> <a href="mailto:{{ staff.email }}">{{ staff.email }}</a><br>
      {% endif %}
      {% if staff.phone %}
        <i class="fas fa-phone"></i> <a href="tel:{{ staff.phone }}">{{ staff.phone }}</a><br>
      {% endif %}
      {% if staff.twitter %}
        <i class="fab fa-twitter"></i> <a href="https://twitter.com/{{ staff.twitter }}">@{{ staff.twitter }}</a><br>
      {% endif %}        
      {% if staff.address %}
        <i class="fas fa-map-marker-alt fa-fw"></i> {{ staff.address}} <br>
      {% else %}
        {% if staff.room %}
          <i class="fas fa-map-marker-alt fa-fw">     </i> Room {{ staff.room }} <br>
        {% else %}
          <i class="fas fa-map-marker-alt fa-fw">     </i> Room BG.West.550 <br>
        {% endif %}  
        <i class="fas fa-map-marker-alt fa-fw fade"></i> Building 8 (BK City) <br>
        <i class="fas fa-map-marker-alt fa-fw fade"></i> Delft University of Technology <br>
        <i class="fas fa-map-marker-alt fa-fw fade"></i> Julianalaan 134 <br>
        <i class="fas fa-map-marker-alt fa-fw fade"></i> Delft 2628BL<br>
        <i class="fas fa-map-marker-alt fa-fw fade"></i> the Netherlands <br>
        <i class="fas fa-map-marker-alt fa-fw fade"></i> <a href="http://www.tudelft.nl/en/about-tu-delft/contact-and-accessibility/housing-tu-delft/accessibility/building-8/">How to get here</a>
      {% endif %}  
    </div>
    </div>
  </div>

  {% if staff.pagetext %}
    <hr>
    <div class="container">
      <p>{{ staff.pagetext | markdownify }}</p>
    </div>
  {% endif %}

  {{ content }}

</div>
