---
layout: default
---
<div class="container content">
  <div class="row">
		<div class="col-md-9" role="main">
			<h1>{{ page.title }}</h1>
			<div class="visible-xs-block visible-sm-block">
				<input type="text" class="text-input" id="small-filter" value="" placeholder="Search" type="search" />
			</div>
			{{ content }}
		</div>
		<div class="col-md-3 hidden-xs hidden-sm" role="complementary">
			<div id="sidebar" class="papers-sidebar" role="complementary" data-spy="affix">
				<h2>Search</h2>
				<input type="text" class="text-input" id="filter" value="" type="search" autofocus />
				<h2>Go to</h2>
				<ul class="nav nav-stacked">
					<li><a href="#type_article">Journal articles</a>
					<ul class="nav nav-stacked">
						<li><a href="#type_article2018">2019</a></li>
						<li><a href="#type_article2018">2018</a></li>
						<li><a href="#type_article2017">2017</a></li>
						<li><a href="#type_article2016">2016</a></li>
						<li><a href="#type_article2015">2015</a></li>
						<li><a href="#type_article2014">2014</a></li>
						<li><a href="#type_article2013">2013</a></li>
					</ul></li>
					<li><a href="#type_proceedings">Conference proceedings</a></li>
					<li><a href="#type_incollection">Conference articles (in book)</a>
					<ul class="nav nav-stacked">
						<li><a href="#type_incollection2018">2018</a></li>
						<li><a href="#type_incollection2017">2017</a></li>
						<li><a href="#type_incollection2016">2016</a></li>
						<li><a href="#type_incollection2015">2015</a></li>
						<li><a href="#type_incollection2014">2014</a></li>
						<li><a href="#type_incollection2013">2013</a></li>
					</ul></li>
					<li><a href="#type_inproceedings">Conference articles</a>
					<ul class="nav nav-stacked">
						<li><a href="#type_inproceedings2018">2018</a></li>
						<li><a href="#type_inproceedings2017">2017</a></li>
						<li><a href="#type_inproceedings2016">2016</a></li>
						<li><a href="#type_inproceedings2015">2015</a></li>
						<li><a href="#type_inproceedings2014">2014</a></li>
						<li><a href="#type_inproceedings2013">2013</a></li>
					</ul></li>
					<li><a href="#type_phdthesis">PhD theses</a></li>
					<li><a href="#type_techreport">Technical reports</a></li>
					<li><a href="#type_misc">Others</a>
					<ul class="nav nav-stacked">
						<li><a href="#type_misc2018">2018</a></li>
						<li><a href="#type_misc2017">2017</a></li>
						<li><a href="#type_misc2016">2016</a></li>
						<li><a href="#type_misc2015">2015</a></li>
						<li><a href="#type_misc2014">2014</a></li>
						<li><a href="#type_misc2013">2013</a></li>
					</ul></li>
				</ul>
			</div>
		</div>
	</div>

</div>

